.cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}

.cabecalho-titulo{
  font-size: large;
  font-weight: 700; 

}

.cabecalho__topics{
    display: none;
    margin-top: 0.5rem ;
    
}

.sobre__titulo{
  
}

.descricao__texto{
    margin-right: 2px;
    margin-left: 2px;
}